@model FornecedorViewModel

@{
    ViewData["Title"] = "Fornecedores";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

<!-- Botão para abrir o modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSupplierModal">
    <i class="fas fa-plus"></i> Adicionar Fornecedor
</button>

<!-- Modal para adicionar fornecedor -->
<div class="modal fade" id="addSupplierModal" tabindex="-1" aria-labelledby="addSupplierModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSupplierModalLabel">Adicionar Fornecedor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createSupplierForm" method="post" asp-action="CriarFornecedor" asp-controller="Fornecedor">
                    <div class="mb-3">
                        <label for="Nome" class="form-label">Nome do Fornecedor</label>
                        <input type="text" class="form-control" id="Nome" name="Nome" required>
                    </div>
                    <div class="mb-3">
                        <label for="CNPJ" class="form-label">CNPJ</label>
                        <input type="text" class="form-control" id="CNPJ" name="CNPJ" required>
                    </div>
                    <div class="mb-3">
                        <label for="Telefone" class="form-label">Telefone</label>
                        <input type="text" class="form-control" id="Telefone" name="Telefone" required>
                    </div>
                    <div class="mb-3">
                        <label for="Email" class="form-label">E-mail</label>
                        <input type="email" class="form-control" id="Email" name="Email">
                    </div>
                    <div class="mb-3">
                        <label for="MunicipioID" class="form-label">Municipio</label>
                        <select class="form-select" id="MunicipioID" name="MunicipioID" required>

                            @if (Model != null && Model.Municipios.Any())
                            {
                                foreach (var municipio in Model.Municipios)
                                {
                                    <option value="@municipio.ID">@municipio.Nome</option>
                                }
                            }
                            else
                            {
                                
                                    <option>Nenhum municipio encontrado.</option>
                                
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="EmpresaID" class="form-label">Empresa</label>
                        <select class="form-select" id="EmpresaID" name="EmpresaID" required>

                            @if (Model != null && Model.Empresas.Any())
                            {
                                foreach (var empresa in Model.Empresas)
                                {
                                    <option value="@empresa.ID">@empresa.Nome</option>
                                }
                            }
                            else
                            {
                                <option>Nenhuma empresa encontrada</option>
                            }
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" onclick="submitCreateSupplierForm()">Salvar Fornecedor</button>
            </div>
        </div>
    </div>
</div>
<br />
<h2>Lista de fornecedores</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CNPJ</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Fornecedores.Any())
        {
            foreach (var fornecedor in Model.Fornecedores)
            {
                <tr>
                    <td>@fornecedor.Nome</td>
                    <td>@fornecedor.CNPJ</td>
                    <td>@fornecedor.Telefone</td>
                    <td>@fornecedor.Email</td>
                    <td>
                        <a class="btn btn-primary" asp-action="DetalhesFornecedor" asp-route-id="@fornecedor.ID"><i class="fas fa-eye"></i></a>
                        <a class="btn btn-danger" asp-action="ExcluirFornecedor" asp-route-id="@fornecedor.ID"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">Nenhum fornecedor encontrado.</td>
            </tr>
        }
    </tbody>
</table>

<script>
    function submitCreateSupplierForm() {
        document.getElementById('createSupplierForm').submit();
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
